{% load static %}
<html>

<head>
    <title>Find your book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body id="page-top" style="background-color: cornsilk;">
    <div class="container-fluid">
        <header style="padding: 10px; background-color">
            <h3 style="padding:4px;"> 
                <span> <img  style="width: 25px; height:25px" src="{% static 'books.png' %}"></span>
                Book store for you </h3>
            <!-- Search form -->
            <div class="md-form mt-0">
                <input class="form-control" type="text" placeholder="Search your book" aria-label="Search">
            </div>
        </header>

    <div class="content" id="booksSearchResult">
        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
            <div class="col">
                <div class="card-body">
                    <h5 class="card-title">Book Title</h5>
                    <p class="card-text">Some quick example text to build on the Book Title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>


</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

  <!--   <footer>
        Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
    </footer> -->
   
</body>

</html>